@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;800&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;    
}
body{
font-family:'poppins',sans-serif;
    background-color: #0F0F0F;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: url(bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.menu{
    position: absolute;
    top: 0;
    top: 0;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #040404;
    border-bottom: 1px solid #FFFFFF29;
    
}

.logo{
    color:#A70A15;
    font-size: 25PX;
    font-weight: 800;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li{
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #E1160D;
}

#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    display: none;
    cursor: pointer;
}

.header-info h1{
    color: #E1160D;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

.header-info{
    color: #FFFFFF;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;

}

.bt-1{
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #E1160D;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;

}
.btn-1:hover{
    background-color: #E1160D;

}
.gym{
    padding: 100px 0;
    display: flex;
    align-items: center;


}

.gym-1{
    width: 50%;
    padding-right: 150px;

}
.gym-1 h2 {
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
}
.gym-1 p{
    font-size: 16px;
    color: #818181;
    margin-bottom: 35px;
}

.gym-1 span {
color: #E1160D;
}

.btn-2 {
    display: inline-block;
    padding: 8px 45px;
    border-radius: 20px;
    background-color:#E1160D;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;

}
.btn-2:hover{
    background-color: #A70A15;
}

.img-1, .img-2{
    width: 250px;
    margin-right: 30px;

}

.footer {
    border-top: 1px solid #FFFFFF29;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    background-color: #404040;

}
.footer h3{
    color: #A70A15;
    font-size: 25px;
    font-weight: 800;

}
.links ul{
    display: flex;
}
.links ul li{
    margin-right: 35px;
}
.links ul li a{
    color: #818181;
}

@media(max-whidth:991px){
    .menu{
        padding: 20px;

    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

.menu .navbar ul li{
    width: 100%;
}

#menu:checked ~ .navbar{
    display: initial;
}

.header-content{
    padding: 30px;

}

.header-info h1{
    font-size: 50px;
    margin-bottom: 5px;
}

.gym{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.gym-1{
    width: 100%;
    padding: 0;
    order: 1;
}

.gym-1 h2{
    margin-bottom: 15px;

}

.bt-2{
   margin-bottom: 35px;
}

.gym-2{
    order: 2;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.img-1, .img-2{
margin: 0 0 20px 0;
}
.footer{
    flex-direction: column;
    align-items: center;
}
.footer h3 {
    margin-bottom: 15px;

}
.links ul li{
    margin: 0 10px;
}

}


